body{
    height: 100vh;
    background: linear-gradient(to bottom right,rgb(243, 238, 238),rgb(199, 127, 199));
    
}
p{
    display: inline;
}
h3{
    text-align: center;
}
.row-one{
    padding: 20px;
    text-align: center;
}
.row--two{
    text-align: center;
    padding: 20px;
    margin: 1px;
}
#submit{
    padding: 5px;
    margin: 1px;
    border: 2px solid rgb(220, 13, 13);
    color: white;
    border-radius: 6px;
    background-color: black;
}
.button{
    padding: 20px;
    margin-top: 3px;
    text-align: center;
    cursor: pointer;
}
.full-container{
    background: linear-gradient( #e5e908, #eef2f3);
    width: 500px;
    height: 300px;
    position: relative;
    margin: auto;
    display: block;
   padding: 50px;
   border: 2px solid black;
    border-radius: 6px;

}
.full-container:hover{
    width: 600px;
    height: 406px;
}
input{
    height: 20px;
    width: 40px;
    border: 2px solid black;
    border-radius: 6px;
}
#submit:hover{
    background-color: black;
    color: orange;
    cursor: pointer;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
